language: java

services:
  - docker

before_install:
  - docker build -t thilina01/oms-api:latest -t thilina01/oms-api:0.0.1 .
  - docker image ls

install:
  - echo "install nothing!"

script:
  - echo "no tests!"

deploy:
  provider: script
  script: bash docker_push
  on:
    branch: master

notifications:
  email: # only receive email when the build status changes (someone broke the build!)
    on_failure: change
    on_success: change
