name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - 
        name: Extract Maven project version
        run: |
          VERSION=$( mvn help:evaluate -Dexpression=project.version -q -DforceStdout )
          echo "::set-output name=version::$VERSION"
          echo $VERSION
          echo ${{ steps.project.outputs.version }}
        id: project

      - 
        name: Show extracted Maven project version
        run: echo ${{ steps.project.outputs.version }}
        
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: thilina01/oms:latest, thilina01/oms:${{ steps.project.outputs.version }}
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
